body {
	background: green;
	color: darkgrey;
	font-size: 15pt;
	font-family: "Times New Roman", Times, serif;
}

h1 { font-size: 250%;
	 font-weight: bold;
	 color: Yellow 
}

h2 { font-size: 175%
	 font-style: italic
	 
}